html, body { 
  margin:0; 
  padding:0; 
  height:100%; 
}

.side-nav-bar {
	display: inline-block;
}

.content {
	display: inline-block;
}

#container {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}